/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  height: 100%;
  background-color: #e3ded8;
}

.inline {
  display: inline;
}

header {
}

div.search {
  height: 40px;
  background-color: #000;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nowrap {
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

div.project-info  {

  img.project-image {
    width: 100%;
    height: auto;
  }

  div.project-intro {
    overflow: hidden;
    background: rgba(16, 17, 19, 0.6);
    position: relative;
    color: white;
    top: -70px;
    @media screen and (min-width: 768px) {
      height: 70px;
      max-height: 70px;
    }
    @media screen and (max-width: 767px) {
      height: 120px;
      max-height: 120px;
    }


    div.project-company {
      border-right: thick solid white;
      border-width: 1px;
      height: inherit;
    }

    div.project-description {
      font-size: 12px;
      position: relative;
      @media screen and (min-width: 768px) {
        border-left: thick solid white;
        border-width: 1px;
      }
      height: inherit;
    }

  }

}

.certificates {
  position: relative;
  top: -70px;

  .buildings {
    background-color: #e3ded8;
    line-height: 40px;
    color: #97877e;

    .building {
      background-color: #abd6b8;
      color: #359561;
      text-align: center;
    }

    .building:hover {
      background-color: #359561;
      color: white;
    }

    .active {
      background-color: #359561;
      color: white;
    }
  }

  .certificate {
    padding: 1em 1em;
    width: 100%;
    margin-left: 0.5em;

    .logo {
      background-color: #359561;
      width: 127%;
      padding: 1em;
    }

    .certificate-station {
      padding: 15px;
      background-color: #f08001;
      color: white;
      text-align: center;
    }

    .building-certificate {
      color: #f08001;
      text-align: center;
      border: 1px;
      border-color: #f08001;
      border-style: solid;
      width: 50%;
    }
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.editable {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgra inset;
  font: -moz-field;
  font: -webkit-small-control;
  padding: 2px 3px;
  width: 100%;
  height: 25px;
  margin: 8px auto;
  background:#000;
}

.stations {
  background-color: #e3ded8;
  padding: 0 0;
  margin: 0 0;
}

.station {
  margin: 1em 0;
  width: 100%;
  height: auto;
  color: #97877e;

  .station-icon {
    width: 100%;
  }

  .station-name {
    color: inherit;
    text-align: center;
  }

  .station-inspection-time {
    color: inherit;
  }

  .inspection-result {
    width: 85%;
    height: 85%;
  }
}

footer {
  color: gray;
  background-color: #e3ded8;
  text-align: center;
  position:relative;
  bottom:0;
  width:100%;
  height:25px;   /* Height of the footer */
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
