<tool-tip>

  <div class="fish-tool__content">
    <h3 class="fish-tool__title">附近船隻名單</h3>
    <table ng-table="vm.tableParams" show-filter="true" class="table table-bordered table-striped">
      <tr ng-repeat="row in $data ">
        <td title="'Boat Name'" filter="{name: 'text'}" sortable="'name'"><a ui-sref="main.search({type:'mmsi',id:row.mmsi})">{{row.name}}</a></td>
        <td title="'MMSI'" filter="{mmsi: 'text'}" sortable="'mmsi'"><a ui-sref="main.search({type:'mmsi',id:row.mmsi})">{{row.mmsi}}</a></td>
        <td title="'Last Location'"><a ui-sref="main.search({type:'mmsi',id:row.mmsi})">({{row.lastLoca.lat}},{{row.lastLoca.lon}})</a></td>
      </tr>
    </table>
  </div>

</tool-tip>
<h3><strong>座標</strong> (lat: {{vm.map.center.latitude}} lon:  {{vm.map.center.longitude}})</h3>
<ng-map zoom="4" center="[{{vm.map.center.latitude}},{{vm.map.center.longitude}}]" style="height:800px;">
    <marker position="[{{marker.lastLoca.lat}}, {{marker.lastLoca.lon}}]" title="{{marker.name}}, {{marker.mmsi}}" ng-repeat=" marker in vm.nearList"></marker>
</ng-map>
