<h3>SEARCH {{vm.type| uppercase}} : {{vm.id}}</h3>

<div class="fish-search__content">
  <div ng-show="vm.result.length >1">
    <div ng-repeat="boat in vm.result" class="fish-search__card" ng-click="vm.setResult(boat)">
      <div class="row">
        <div class="col-md-3">
          <img src="{{boat.image}}" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-9">
          <h4>{{boat.name}}</h4>
          <dl class="dl-horizontal">
            <dt>MMSI</dt>
            <dd>{{boat.mmsi}}</dd>
            <dt>IMO</dt>
            <dd>{{boat.imo}}</dd>
            <dt>Report Status</dt>
            <dd class="text-danger">{{boat.reportStatus}}</dd>
            <dt>Country</dt>
            <dd>{{boat.country}}</dd>
          </dl>

        </div>
      </div>

    </div>
  </div>
  <div ng-show="vm.result.length ===1">
    <h1>{{vm.result[0].name}}</h1>
    <img src="{{vm.result[0].image}}" class="img-responsive" alt="Responsive image">
    <div class="page-header">
      <h4>詳細資訊 </h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">船</div>
          <div class="panel-body">
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <td>{{vm.result[0].name}}</td>
              <tr>
              <tr ng-show="vm.result.imo">
                <th>IMO</th>
                <td>{{vm.result[0].imo}}</td>
              <tr>
              <tr>
                <th>MMSI</th>
                <td>{{vm.result[0].mmsi}}</td>
              <tr>
              <tr>
                <th>country</th>
                <td>{{vm.result[0].country}}</td>
              <tr>
            </table>

          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">通報紀錄 <strong class="pull-right text-danger">{{vm.result.reportStatus}}</strong></div>
          <div class="panel-body" ng-show="!vm.result.reportStatus">
            尚未有通報紀錄
          </div>
          <div class="panel-body" ng-show="vm.result.reports">
            <div class="panel panel-default" ng-repeat="repo in vm.result.reports track by $index">
              <div class="panel-heading">
                {{repo.title}}
                <p class="pull-right">{{repo.date}}</p>
              </div>
              <div class="panel-body">
                <h4>lat: {{repo.location.lat}} lon:{{repo.location.lon}}</h4>
                <p>{{repo.discription}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div ng-show="vm.result.length === 0 || !vm.result" class="fish-search__fail"></div>


</div>
