.apt-check{
  &__content{
      padding: 30px 10px;
      height: 550px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;

  }

  &__titles{

    &.-line{
      border-bottom: 1px $pink-2 dotted;
      color: $pink-2;
      margin-bottom: 30px;
    }
    &.-small{
      margin-left: 80px;
      margin-right: 40px;
    }
  }
  &__dd{
    &.-special{
      color:$pink;
    }
  }
  &__section{
    margin-bottom: 10px;
    &--p{
      padding-left: 20px;
      font-size: 15px;
    }
  }

  &__btn{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color:$pink-4;
    background: $pink-2; /* Old browsers */
    background: -moz-linear-gradient(top,  $pink-2 0%, $d-pink-2 50%, $pink 51%, $pink-2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $pink-2 0%,$d-pink-2 50%,$pink 51%,$pink-2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $pink-2 0%,$d-pink-2 50%,$pink 51%,$pink-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$pink-2, endColorstr=$pink-2,GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
    &.-big{
      font-size: 30px;
      width: 220px;
      height: 220px;
      margin: 0 20px;
      color:$pink-4;
      line-height: 220px;
    }
    &.-check-in{
      position: absolute;
      top:10px;
      right: 20px;
      color:$pink-4;
      padding: 50px 30px;

    }
    &:hover{
      text-decoration: none;
      color:$pink-4;
      background: $pink; /* Old browsers */
      background: -moz-linear-gradient(top,  $pink 0%, $pink-1 50%, $pink-2 51%, $pink 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  $pink 0%,$pink-1 50%,$pink-2 51%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  $pink 0%,$pink-1 50%,$pink-2 51%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$pink, endColorstr=$pink,GradientType=0 ); /* IE6-9 */
    }
    &:active{
      text-decoration: none;
      color:$pink-4;
      background: $d-pink-1;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

  }

  &__pop{
    padding: 0px 10px 30px 10px;
    width: 80%;
    margin: 0 auto;
    &--title{
      text-align: center;
      color:$pink;
      padding: 10px;
      margin-bottom: 10px;
      font-family: $font-title;
      font-weight: 700;

    }
    &--btn{
      padding: 10px;
      background: $pink;
      margin: 10px auto 10px auto;
      display: block;
      width: 100%;
      text-align: center;
      color:$pink-4;
      text-decoration: none;
      cursor: pointer;
      font-weight: 700;
      font-family: $font-title;
      -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
      -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.17);
      opacity: 0.7;
      &:hover{
        color: $pink-4;
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
      }
      &:active{
        opacity: 1;
        background: $d-pink-1;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    &--select{
      width: 100%;
      margin: 0 auto;
    }
  }

  &__complete-btns{
    margin: 30px auto;
    width: 80%;
    text-align: center;
  }







}
