.apt-cards{
  width:720px;
  margin: 20px auto;

  &__item{
    position: relative;
    width:220px;
    padding:10px;
    margin: 10px 5px;
    background: rgba($gray-6, 0.8);
    display: inline-block;
    -webkit-box-shadow: 0px 2px 0px 1px rgba($gray,0.15);
    -moz-box-shadow: 0px 2px 0px 1px rgba($gray,0.15);
    box-shadow: 0px 2px 0px 1px rgba($gray,0.15);
    cursor: pointer;
    &:hover{
      background:$pink;
      color:$gray-6 ;
      .apt-cards__item--p{
        color:$gray-6 ;
      }
      .apt-cards__item--btn{
        color:$gray-6 ;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(#ffffff, 0.5);
        width: 120px;
        height: 120px;
        border-radius: 100%;
        z-index: 0;
        left: 50px;
        top:50px;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;

      }
    }


    &--title{
      margin-bottom: 20px;
    }

    &--btn{
      color: $pink;
      cursor: pointer;
      margin-top: 20px;
      &:hover,&:focus{
        background: $pink-2 !important;
        color:#fff;
        border-radius: 0;
      }
    }

  }
}
