
$black:#000;
$black-1:#141418;
$black-2:#282831;
$black-3:#3c3b49;

$gray:#98AAA9;
$gray-1:#ADBBBA;
$gray-2:#C1CCCB;
$gray-3:#D6DDDD;
$gray-4:#EAEEEE;
$gray-5:#F1FCFB;
$gray-6:#F8FDFB;

$d-blue:#504F61;
$d-blue-1:#737281;
$d-blue-2:#9695A0;
$d-blue-3:#B9B9C0;
$d-blue-4:#DCDCDF;
$d-blue-5:#E7E6F8;
$d-blue-6:#F3F3FB;

$pink:#ED7774;

$pink-1:#F19290;
$pink-2:#F4ADAC;
$pink-3:#F8C9C7;
$pink-4:#FBE4E3;

$d-pink:#6E3736;
$d-pink-1:#B25957;
$d-pink-2:#ea6967;
$d-pink-3:#FA7D7A;

$tiff:#268571;
$tiff-1:#32B196;
$tiff-2:#5BC1AB;
$tiff-3:#84C0D0;
$tiff-4:#ADE0D6;

$tiff-5:#79AAA0;
$tiff-6:#6CFEDF;
$tiff-7:#4D8E80;

$org:#F8B133;
$org-1:#F9C15C;
$org-2:#FBD085;
$org-3:#F9E365;
$org-4:#FAE884;

$org-5:#F99C65;
$org-6:#FCC4A3;
$org-7:#FCE0AD;
