.cs-dialog{
  padding: 0px 10% 30px 10%;
  width: 100%;

  &__apt{
    &--bar{
      font-weight: bolder;
	  	font-size: 1.17em;
      margin-top: 1em;
      border-bottom: 1px black solid;
      padding-bottom: 1rem;
      position: relative;
  	}
  	&--label{
  		font-weight: bold;
  		font-size: 1em;
  		width: 45%;
  	}
  }
  &__bridal{
    &--bar{
	  	color: $pink-2;
	  	font-size: 1.17em;
      font-weight: bolder;
      margin-top: 1em;
      border-bottom: 1px $pink-2 solid;
      padding-bottom: 1rem;
      position: relative;
  	}
  	&--label{
  		font-weight: bold;
  		font-size: 1em;
  		width: 45%;
  	}
  	&--label--full{
  		font-weight: bold;
  		font-size: 1em;
  		width: 100%;
  	}
  	&--input{
  		border: none;
  		background-color: none;
  		width: 45%;
  	}
  	&--textarea{
  		border: none;
  		resize: none;
  		row: 5;
  		background-color: $gray-4;
    	color: $black;
    	width: 100%;
  	}
  }
  &__other{
    &--bar{
	  	color: $tiff-4;
	  	font-size: 1.17em;
      font-weight: bolder;
      margin-top: 1em;
      border-bottom: 1px $tiff-4 solid;
      padding-bottom: 1rem;
      position: relative;
  	}
  	&--label{
  		font-weight: bold;
  		font-size: 1em;
  		width: 45%;
  	}
		&--textarea{
			border: none;
			resize: none;
			row: 5;
			background-color: $gray-4;
	  	color: $black;
	  	width: 100%;
		}
  }
  &__select{
	  width: 25%;
	  margin: 0 auto;
	  background-image: url('images/select_arrow.gif');
	  -moz-appearance:window;
	  background-repeat: no-repeat;
	  background-position: right center;
	  padding-right: 20px;
  }
  &__header{
	  &--first{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-top: 0em;
	    border-bottom: 0.3em $tiff-1 solid;
	    position: absolute;
	    width: 25%;
	    top: 0;
	    left: 0;
	  }
	  &--second{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-top: 0em;
	    border-bottom: 0.3em $pink solid;
	    position: absolute;
	    width: 25%;
	    top: 0;
	    left: 25%;
	  }
	  &--third{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-top: 0em;
	    border-bottom: 0.3em $gray solid;
	    position: absolute;
	    width: 25%;
	    top: 0;
	    left: 50%;
	  }
	  &--forth{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-top: 0em;
	    border-bottom: 0.3em $black solid;
	    position: absolute;
	    width: 25%;
	    top: 0;
	    left: 75%;
	  }
  }
  &__footer{
	  &--first{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-bottom: 0em;
	    border-bottom: 0.3em $tiff-1 solid;
	    position: absolute;
	    width: 25%;
	    bottom: 0;
	    left: 0;
	  }
	  &--second{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-bottom: 0em;
	    border-bottom: 0.3em $pink solid;
	    position: absolute;
	    width: 25%;
	    bottom: 0;
	    left: 25%;
	  }
	  &--third{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-bottom: 0em;
	    border-bottom: 0.3em $gray solid;
	    position: absolute;
	    width: 25%;
	    bottom: 0;
	    left: 50%;
	  }
	  &--forth{
	    font-weight: bolder;
	  	font-size: 2em;
	    margin-bottom: 0em;
	    border-bottom: 0.3em $black solid;
	    position: absolute;
	    width: 25%;
	    bottom: 0;
	    left: 75%;
	  }
  }
  &__close{
  	position:absolute;
  	right: 0px;
  	color: $pink;
  }
  &__button{
  	border: none;
  	border-radius: 2px;
  	margin: 1em 0 0 10%;
  	color: white;
  	background-color: $black-2;
  	width: 80%;
  }
}
