.wc-header{
  width: 100%;
  height: 80px;
  position: relative;
  padding-top: 20px;
  margin-bottom: 10px;
  background: #fff;
  z-index: 1;
  &:after{
    content: '';
    display: inline-block;
    border-top: 1px #EEEEEE solid;
    width: 100%;
    height: 20px;
    background-image: -webkit-radial-gradient(50% 0%, 50% 1em,rgba(170, 170, 170, 0.3),rgba(255, 255, 255, 0));
    background-image: -moz-radial-gradient(50% 0%, 50% 1em,rgba(170, 170, 170, 0.3),rgba(255, 255, 255, 0));
    background-repeat: repeat-y;
    padding: 2px;
  }
  &__logo{
    display: inline-block;
    &>img{
      height: 50px;
    }
  }
  &__share{
    display: inline-block;
    padding:10px 0 10px 0;
  }
  &__icon{
    color:$brown;
  }
  &__iconbox{
    cursor: pointer;
    &:hover{
      &>a>i{
        color:$pink;
      }
    }
  }
}

@media screen and (max-width:$md) {
  .wc-header{
    padding-top: 15px;
    margin-bottom: 0px;
    position: fixed;
    top:0;
    z-index: 2;
    &__logo{
      padding-bottom: 0;
      &>img{
        height: 50px;
      }
    }
  }
}
