@import url(https://fonts.googleapis.com/css?family=Poiret+One|Muli:400,300,300italic,400italic|Hind:400,300,500,600,700);


$xs:768px;
$md:996px;
$lg:1700px;
$mac:1280px;

$font-default:'Hind', sans-serif;
$font-title: 'Muli', sans-serif;

$store-contaner-padding-top:100px;
