@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

$pink:#FFA598;
$pink-d:#f9705c;
$pink-l:#fbc0c0;
$brown:#534741;
$brown-d:#372e2a;
$wrapper-height:550px;


$xs:768px;
$md:996px;
$lg:1700px;
$mac:1280px;

$font-strong:'Dancing Script', cursive;
