
.store-buttons{
  cursor: pointer;
  text-decoration: none;
  &:hover, &:visited, &:focus{
    color:$pink;
    text-decoration: none;
  }

  &.-main{
    width: 180px;
    height: 180px;
    margin: 20px 5px;
    background: rgba(0, 0, 0, 0.7);
    color:#fff;
    display: inline-block;
    padding-top:80px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.36);
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.36);
    position: relative;

    &:hover{
      background: $pink;
      -webkit-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,0.36);
      -moz-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,0.36);
      box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,0.36);
      &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(#ffffff, 0.59);
        width: 100px;
        height: 100px;
        border-radius: 100%;
        z-index: 0;
        left: 40px;
        top:40px;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;

      }
    }
  }

  &.-apt-add{
    position: absolute;
    top:10px;
    right:110px;
    &.-fixed{
      top:90px;
    }
  }

  &.-apt-find{
    position: absolute;
    top:10px;
    right:60px;
    &.-fixed{
      top:90px;
    }
  }
  &.-apt-close{
    position: absolute;
    top:10px;
    right:20px;
    &.-fixed{
      top:110px;
    }
  }

}
