.store-main{
  &__container{
    width: 100%;
    // width: 1024px;
    // height: 768px;
    background-color:$d-blue-6;
    background-image: url('../assets/images/sb_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    overflow-y:hidden;

  }
  &__content{
    position: relative;
  }

  &__content.header-fixed{
    padding-top: $store-contaner-padding-top;
  }




}
