.store-setting{
  &__tool{
    padding: 20px;
  }
  &__tab{
    &--content{
      padding: 20px;
      height: 600px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      &.-tool-open{
        width: 80%;
      }
    }
  }
  &__title{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px $gray dotted;
    clear: both;
  }
  &__section{
    padding: 10px;
    padding-bottom: 20px;
  }
  &__drop-container{
    // float: left;
    display: inline-block;
    border: 1px $black-3 dotted;
    min-width: 120px;
    height: 60px;
    margin-right:10px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 40px;

    &--content{
      color: $gray-2;
      padding: 0 10px;
      text-align: center;
      height: 40px;
      &.-delete{
        color: $pink;
      }
    }

  }
}

.nav-pills > li.active.store-setting__tab > a, .nav-pills > li.active.store-setting__tab > a:hover, .nav-pills > li.active.store-setting__tab > a:focus{
  background: transparent;
  border-radius: 0;
  border: 1px $black-3 solid;
  color: $black-3;
}
.nav-pills > li.store-setting__tab > a{
  background: transparent;
  color: $black-3;
}

.nav-pills > li.store-setting__tab > a:hover, .nav-pills > li.store-setting__tab> a:focus{
  background: transparent;
  color: $pink;
}
.custom-events a {
  text-decoration-style: dashed;
  text-decoration: underline;
}
