<div class="store-main__container" get-store-height>
  <store-header data="vm.header" ></store-header>
  <div class="container-fluid store-main__content" ng-class="{'header-fixed':vm.header.fixed}" ng-switch="vm.aptDisplayStatus" ng-show="vm.header.storeIsLogin">

    <div ng-switch-when="0">
      <h2 class="text-center store-main__titles">Current Appointments Card</h2>
      <apt-cards apts="vm.apts" on-open="vm.openApt(apt)" on-cancel="vm.onCancel(apt)" on-confirm="vm.onConfirm(apt)"></apt-cards>
      <store-apt-add data="vm.createAptInit" on-create-apt-open="vm.onCreateAptOpen({date:date})"
      on-create-apt-send ="vm.onCreateAptSend({apt:apt})" on-check-mail="vm.onCheckMail({email:email})"></store-apt-add>
    </div>

    <div ng-switch-when="1">
      <h2 class="apt-check__titles margin-bottom-none">Appointment ID: {{vm.apt.id}} <small class="apt-check__titles -small"> Create by: {{vm.apt.createBy}}</small> <small> Create date: {{vm.apt.createDate}}</small></h2>
      <div class="top-shadow"></div>
      <span class="fa-stack fa-lg store-buttons -apt-close -fixed" ng-click="vm.closeDetail()">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa fa-times fa-stack-1x fa-inverse"></i>
      </span>
      <div class="apt-check__content">
        <store-apt-check-in-btn on-check-in="vm.onCheckIn(clerk)" clerks="vm.clerks"
        apt="vm.apt" on-finish="vm.finishApt()" ng-show="!vm.hasFinishApt"></store-apt-check-in-btn >
        <div class="row">
          <div class="col-sm-10 col-md-10">
            <div class="col-sm-6 col-md-6">
              <dl class="dl-horizontal">
                <dt>Appointment Date</dt>
                <dd>{{vm.apt.date}}</dd>
                <dt>Service Type</dt>
                <dd>{{vm.apt.serviceType}}</dd>
              </dl>
            </div>
            <div class="col-sm-6 col-md-6">
              <dl class="dl-horizontal">
                <dt>Wedding Date</dt>
                <dd>{{vm.apt.weddingDate}}</dd>
                <dt>Confirm</dt>
                <dd>{{vm.apt.confirm}}</dd>
                <dt ng-show="vm.apt.status.id">{{vm.apt.status.name}}</dt>
                <dd ng-show="vm.apt.status.id"> by {{vm.apt.clerk.name}}</dd>
                <dd ng-show="vm.apt.complete" class="apt-check__dd -special">Complete</dd>
                <dd ng-show="vm.apt.complete===0" class="apt-check__dd -special">Incomplete</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-10">
            <h5 class="apt-check__titles -line">Bridal Info</h5>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <dl class="dl-horizontal">
                  <dt>Email</dt>
                  <dd>{{vm.apt.email}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <dl class="dl-horizontal">
              <dt>First Name</dt>
              <dd>{{vm.apt.name}}</dd>
              <dt>Best Contact Number</dt>
              <dd>{{vm.apt.phone}}</dd>
            </dl>
          </div>
          <div class="col-sm-6 col-md-6">
            <dl class="dl-horizontal">
              <dt>Last Name</dt>
              <dd>{{vm.apt.lastName}}</dd>
              <dt>Caller Id</dt>
              <dd>{{vm.apt.callerId}}</dd>
            </dl>
          </div>
        </div>
        <div class="apt-check__section">
          <h4>
            <strong>Bridal Appointment Note</strong>
            <a class="apt-check__edit" ng-click="vm.editBridalAptNote=true" ng-show="!vm.hasFinishApt">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
          </h4>
          <p class="apt-check__section--p" ng-hide="vm.editBridalAptNote"> {{vm.apt.bridalAppointmentNote}}</p>
          <input ng-show="vm.editBridalAptNote" type="text" class="form-control" ng-model="vm.apt.bridalAppointmentNote" ng-blur="vm.editBridalAptNote=false"/>
        </div>
        <div class="apt-check__section" >
          <h4>
            <strong>Appointment Note by SimplyBridal</strong>
            <a class="apt-check__edit" ng-click="vm.editAptNote=true" ng-show="!vm.hasFinishApt">
               <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" ></i>
             </a>
          </h4>
          <input ng-show="vm.editAptNote" type="text" class="form-control" ng-model="vm.apt.appointmentNote" ng-blur="vm.editAptNote=false" />
          <p class="apt-check__section--p" ng-hide="vm.editAptNote"> {{vm.apt.appointmentNote}}</p>

        </div>
        <div class="apt-check__section" >
          <h5 class="apt-check__titles -line">Other</h5>
          <h4>
            <strong>Bridal Note</strong>
            <a class="apt-check__edit" ng-click="vm.editBridalNote=true" ng-show="!vm.hasFinishApt">
               <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" ></i>
             </a>
          </h4>
          <p class="apt-check__section--p" ng-hide="vm.editBridalNote">{{vm.apt.bridalNote}}</p>
          <input ng-show="vm.editBridalNote" type="text" class="form-control" ng-model="vm.apt.bridalNote" ng-blur="vm.editBridalNote=false"/>

        </div>
      </div>
    </div>

    <div ng-switch-when="2">
      <h3 class="apt-check__titles text-center">Appointment Complete Status</h3>
      <div class="apt-check__complete-btns">
        <a class="apt-check__btn -big" ng-click="vm.completeApt(1)"><strong>Complete</strong></a>
        <a class="apt-check__btn -big" ng-click="vm.completeApt(0)"><strong>Incomplete</strong></a>
      </div>
    </div>

  </div>
  <div class="container-fluid store-main__content" ng-class="{'header-fixed':vm.header.fixed}" ng-show="!vm.header.storeIsLogin">
    <h3 class="text-center">Please <a href="{{vm.header.back}}">Back</a> to login Shop </h3>
  </div>
</div>
