<nav class="navbar navbar-inverse store-header " ng-class="{'navbar-fixed-top':vm.data.fixed}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{vm.data.home}}">Simply Bridal </a>

    </div>
    <ul class="nav navbar-nav" ng-show="vm.data.back">
      <li><a href="{{vm.data.back}}">| BACK</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="vm.data.storeIsLogin">
      <li><a href="#" ng-click="vm.logout()">Logout</a></li>
      <li><a href>{{vm.data.storeIsLogin.name}}</a></li>
    </ul>
  </div>
</nav>
