<div class="store-main__container" get-store-height>
  <store-header data="vm.header" ></store-header>
  <div class="container-fluid store-main__content" ng-class="{'header-fixed':vm.header.fixed}">
    <div class="row" ng-show="vm.header.storeIsLogin">
      <div class="col-sm-4 col-md-3 text-center" ng-repeat="link in vm.links">
        <store-main-button data="link"></store-main-button>
      </div>
    </div>
    <div class="row" ng-show="!vm.header.storeIsLogin">
      <div class="col-sm-4 col-md-3 text-center" ng-repeat="stroe in vm.stores">
          <store-main-button data="stroe" ng-click="vm.storeLogin(stroe)"></store-main-button>
      </div>
    </div>
  </div>
</div>
