.fish-search{
  &__fail{
    background: url('../assets/images/notfound.svg');
    width: 80%;
    height: 500px;
    background: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
  }
  &__card{
    width: 100%;
    padding:20px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    margin-bottom: 5px;
  }
}
