.fish-tool{
  &__content{
    padding:20px;
  }
  &__title{
    color:rgb(40, 82, 117);
    border-bottom: 1px rgb(33, 37, 33) dotted;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &__btn{
    width: 100%;
    margin-top: 50px;
    background: rgb(13, 18, 52);
    color:#fff;
    order-radius: 0 !important;
    padding:10px;
    background: rgb(50,68,122); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(50,68,122,1) 0%, rgba(64,76,119,1) 50%, rgba(36,53,81,1) 51%, rgba(66,73,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(50,68,122,1) 0%,rgba(64,76,119,1) 50%,rgba(36,53,81,1) 51%,rgba(66,73,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(50,68,122,1) 0%,rgba(64,76,119,1) 50%,rgba(36,53,81,1) 51%,rgba(66,73,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32447a', endColorstr='#42497a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    &:hover,&:focus,&:visited{
      color: rgb(255, 184, 0);
    }
  }
}
